name: Tests and Linting

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  Linting:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: Set PY variable
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.PY }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Install pre-commit
        run: |
          pip install pre-commit
          pre-commit install
      - name: Run pre-commit
        run: SKIP=no-commit-to-branch pre-commit run --all-files

  Pytest:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: true
      matrix:
        python-version: [ "3.7", "3.8", "3.9", "3.10", "3.11", "3.12", "3.13" ]
    steps:
      - uses: actions/checkout@v3
      - name: Cache downloaded resources
        uses: actions/cache@v3
        with:
          path: ~/.data/
          key: resources
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -e '.[dev]'
          echo "Up-to-date numpy version:" $(python -c "import numpy; print(numpy.__version__)")

      - name: Test with Pytest on Python ${{ matrix.python-version }} with up-to-date Numpy
        run: python -m pytest --cov foldedtensor --cov-report xml --ignore tests/test_docs.py
        if: matrix.python-version != '3.9'

      - name: Test with Pytest on Python ${{ matrix.python-version }} with up-to-date Numpy
        run: coverage run -m pytest

      - name: Test with Pytest on Python ${{ matrix.python-version }} with oldest Numpy
        run: |
          pip install "oldest-supported-numpy"
          echo "Old numpy version:" $(python -c "import numpy; print(numpy.__version__)")
          python -m pytest

      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-${{ matrix.python-version }}
          path: .coverage.*
          if-no-files-found: ignore
          include-hidden-files: true

  Coverage:
    needs: Pytest
    uses: ./.github/workflows/coverage.yml
    with:
      base-branch: main
      coverage-data-pattern: coverage-data-*
      coverage-report: coverage.txt
      coverage-badge: coverage.svg
      coverage-branch: coverage
      python-version: "3.7"

  Installation:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.7", "3.8", "3.9", "3.10", "3.11", "3.12", "3.13" ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install library
        run: |
          pip install .
